<%- include('./partials/head')   %>  <!-- Incluindo Head-->
 
<body>
    <h1 class="alert alert-primary"> <span class="material-icons"> campaign </span>
      Formulário de Cadastro de Avisos </h1>

<%- include('./partials/scripts_import') %> <!-- Incluindo Bootstrap -->
  </body>
</html>
